body {
  background: #EEE;
  font-family: "Georgia",serif;
  padding: 20px;
}
.title {
  width: 100%;
  font-family: "Georgia",serif;
  font-size: 36px;
  text-align: center;
}
.main {
  /* display: flex;
  max-width: 60%; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 160px 1fr 200px;
  max-width: 80%;
}
.input {
  width: 160px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  font-size: 18px;

}
.input-container input {
  font-size: 14px;
  border: 1px solid;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
}
.plot {
  margin: 30px;
  flex: 1;
}
.conclude {
  font-size: 18px;
  padding: 5px;
}
.notes {
  font-size: 16px;
  position: sticky;
  padding-top: 400px;
  bottom: 95px;

}
#ctl_sample,
#ctl_success {
  border-color: #0009CB;
  background-color: #0009CB33;
}

#exp_sample,
#exp_success {
  border-color: #9A00A2;
  background-color: #9A00A233;
}
#experiment_group {
  color: #9A00A2;
}
#control_group {
  color: #0009CB;
}
